{% extends 'base.html' %}
{% block content %}

    {% block content_cabecalho %}
        <h2>Livros</h2>
        <p>
            <a href="{% url 'upload_livro' %}" class="btn btn-primary">Upload Livro</a>
        </p>
    {% endblock %}

    <table class="table mb-0">
        <thead>
            <tr>
                <th>Capa</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
                <tr>
                    <td>
                        {% if livro.capa %}
                            <img src="{{ livro.capa.url }}" alt="{{ livro.titulo }}">
                        {% else %}
                            <span class="text-muted">Sem Img Capa</span>
                        {% endif %}
                    </td>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                    <td>
                        <a href="{{ livro.pdf.url }}" class="btn btn-primary btn-sm" target="_blank">Download PDF</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}